{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      text="text/css"
      href="{% static 'tailwind_auto.css' %}"
    />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Semicolon</title>
  </head>
  <body >
    <header >
      <section>
        <h1> Semi<span >colon</span></h1>
      </section>
      <nav>
        <ul >
          <li class="px-4">
            <a class="text-decoration-none cursor-pointer hover:text-black" href="#" >Home</a>
          </li>
          <li class="px-4">
            <a class="text-decoration-none cursor-pointer hover:text-black" href="#about" >About</a >
          </li>
          <li class="px-4">
            <a class="text-decoration-none cursor-pointer hover:text-black" href="#services">Services</a>
          </li>
          <li class="px-4">
            <a class="text-decoration-none cursor-pointer hover:text-black" href="#contact" >Contact</a >
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section >
        <div >
          <h1>Welcome to</h1>
          <h1 >Emotion Prediction with EEG Signals</h1>
          <p> Are you curious about how your brain activity correlates with your
            emotions? Welcome to our innovative platform where we delve into the
            fascinating world of EEG signals to predict human emotions.</p>

          <p >Begin by Uploading Your CSV File to Get Started.</p>
          <form  id="csv-upload" action="/upload" method="post" enctype="multipart/form-data">
            <label for="csvFile" id="file-label" class="flex items-center justify-center m-0 w-[60%] h-full bg-white border-[1px] border-gray-300 rounded-2xl cursor-pointer">
              <span id="file-label-text" class="mr-2">Choose File</span>
              <input id="csvFile" class="hidden" type="file" name="csvFile" accept=".csv" required />
          </label>
          <button  type="submit">Submit</button>
          </form>
        </div>
          <img src="{% static 'images/home_image.jpg' %}"/>
      </section>
    </main>


    <footer >
      <ul > 
          <li><a href="mailto:info@medifate.com">Contact Us</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Service</a></li>
      </ul>
      <div >
          <hr >
      </div>
      <p>&copy; Semicolon, 2024</p>
  </footer>
  </body>
</html>
<script>
  document.getElementById('csvFile').addEventListener('change', function(e) {
      var fileName = e.target.files[0].name;
      document.getElementById('file-label-text').innerText = fileName;
  });
</script>
