{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" text="text/css" href="{% static 'tailwind_auto.css' %}"/>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>HackHive</title>
  </head>
  <body class="m-3">
    <header class="flex flex-row items-center">
        <img class="h-[90px] w-[190px]" src="{% static 'images/hackhive.png' %}"/>
    </header>
    <main>
      <div class="container">
        <a href="{% url 'sendPersonalizedEmail' %}">
          Send Email
        </a>
      </div>
      <section class=""> 
        <div>
          <h1 class="text-5xl font-bold text-center mt-16">Emotion Prediction with EEG Signals</h1>
            <img class="mt-4" src="{% static 'images/hero.jpg' %}"/>
          <p class="font-light text-center my-7 text-[20px]">Upload CSV File for Emotion Prediction</p>
          <form  class="flex flex-col items-center" id="csv-upload" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="csvFile" id="file-label" class="flex justify-center items-center m-0 w-[80%] h-10 bg-[#F3F1F0] border-[1px] border-black rounded-[0.7rem] cursor-pointer font-bold">
              <span id="file-label-text" class="mr-2 text-[20px] text-black">Choose File</span>
              <input id="csvFile" class="hidden" type="file" name="csvFile" accept=".csv" required />
          </label>
          <button class="flex justify-center items-center mt-3 w-[80%] h-10 bg-[#F3BA92] border-[1px] border-[#F3BA92] rounded-[0.7rem] cursor-pointer font-bold text-[20px] text-white"  type="submit">Submit</button>
          </form>
        </div>
        <div>
          <h1 class="text-5xl font-bold text-center mt-16">Emotion Prediction with ECG Signals</h1>
            <img class="mt-4" src="{% static 'images/hero.jpg' %}"/>
          <p class="font-light text-center my-7 text-[20px]">Upload CSV File of ECG report for Emotion Prediction</p>
          <form  class="flex flex-col items-center" id="csv-upload" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="csvFile" id="file-label" class="flex justify-center items-center m-0 w-[80%] h-10 bg-[#F3F1F0] border-[1px] border-black rounded-[0.7rem] cursor-pointer font-bold">
              <span id="file-label-text" class="mr-2 text-[20px] text-black">Choose File</span>
              <input id="csvFile" class="hidden" type="file" name="csvFile" accept=".csv" required />
          </label>
          <button class="flex justify-center items-center mt-3 w-[80%] h-10 bg-[#F3BA92] border-[1px] border-[#F3BA92] rounded-[0.7rem] cursor-pointer font-bold text-[20px] text-white"  type="submit">Submit</button>
          </form>
        </div>
      </section>

      <!--sad women and problem statment section-->
      <section>
        <a>
          <img class="mt-4" src="{% static 'images/sad_women.jpg' %}"/>
        </a>
          <div>
          <h1 class="text-5xl font-bold text-center mt-16">Problem Statement</h1>
          <p class="font-light text-center my-2 text-[20px]">Identification of wellness factors through Brain Signals using GenAI.</p>
        </div>
        <div>
          <h1 class="text-5xl font-bold text-center mt-7">Description</h1>
          <p class="font-light text-center my-2 text-[20px]">In today’s fast paced lifestyle, stress is major factor to deal with. If corrective measures is not taken in time, it could lead to adverse situation. Brain signals are the origin of thoughts and as data points is appropriate way for analysis.</p>
        </div>  
        </section>

        <!--Meet out team section-->
        <section>

        </section>

        <!---proposed solution and business value-->
        <section>
          
            <div>
            <h1 class="text-5xl font-bold text-center mt-16">Proposed Solution</h1>
            <p class="font-light text-center my-2 text-[20px]">Analyse EEG signals with 32 channels on frontal, occipital, temporal lobes. Derive Delta, Theta, Alpha, Beta and Gamma waves out of signals. Correlate the variations of waves generated as per literature available. Identify the mental wellness.
              </p>
          </div>
          <div>
            <h1 class="text-5xl font-bold text-center mt-7">Business Value</h1>
            <p class="font-light text-center my-2 text-[20px]">For any organisation where human resources are working. It has potential to deal with all age groups. Its proactive measure to prevent person from adverse situations.</p>
          </div>  
          <a>
            <img class="mt-4" src="{% static 'images/women.jpg' %}"/>
          </a>
          </section>

          <!---Frequently asked questions-->
          <section>
            <div class="max-w-screen-xl mx-auto px-5 bg-white min-h-sceen">
              <div class="flex flex-col items-center">
                <h2 class="font-bold text-5xl mt-5 tracking-tight">
                  FAQ
                </h2>
                <p class="text-neutral-500 text-xl mt-3">
                  Frequenty asked questions
                </p>
              </div>
              <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
                <div class="py-3">
                  <details class="group">
                    <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                      <span> What is a SAAS platform?</span>
                      <span class="transition group-open:rotate-180">
                            <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                            </svg>
                          </span>
                    </summary>
                    <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                       SAAS platform is a cloud-based software service that allows users to access
                      and use a variety of tools and functionality.
                    </p>
                  </details>
                </div>
                <div class="py-3">
                  <details class="group">
                    <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                      <span> How does  billing work?</span>
                      <span class="transition group-open:rotate-180">
                            <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                            </svg>
                          </span>
                    </summary>
                    <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                      We offers a variety of billing options, including monthly and annual subscription plans,
                      as well as pay-as-you-go pricing for certain services. Payment is typically made through a credit
                      card or other secure online payment method.
                    </p>
                  </details>
                </div>
                <div class="py-3">
                  <details class="group">
                    <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                      <span> Can I get a refund for my subscription?</span>
                      <span class="transition group-open:rotate-180">
                            <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                            </svg>
                          </span>
                    </summary>
                    <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                      We offers a 30-day money-back guarantee for most of its subscription plans. If you are not
                      satisfied with your subscription within the first 30 days, you can request a full refund. Refunds
                      for subscriptions that have been active for longer than 30 days may be considered on a case-by-case
                      basis.
                    </p>
                  </details>
                </div>
              </div>
            </div>
          </section>
    </main>

    <!--Footer-->
    <!-- component -->
<footer class="bg-white dark:bg-gray-900">
  <div class="container px-6 py-8 mx-auto">
      <div class="flex flex-col items-center text-center">
          <a href="#">
              <img class="h-[90px] w-[190px]" src="{% static 'images/hackhive.png' %}" alt="">
          </a>

          <p class="max-w-md mx-auto mt-4 text-gray-500 dark:text-gray-400">Bringing clarity to your emotions, one prediction at a time.</p>

        </div>

      <hr class="my-10 border-gray-200 dark:border-gray-700" />

      <div class="flex flex-col items-center sm:flex-row sm:justify-between">
          <p class="text-sm text-gray-500">© Copyright 2021. All Rights Reserved.</p>

          <div class="flex mt-3 -mx-2 sm:mt-0">
              <a href="#" class="mx-2 text-sm text-gray-500 transition-colors duration-300 hover:text-gray-500 dark:hover:text-gray-300" aria-label="Reddit"> Teams </a>

              <a href="#" class="mx-2 text-sm text-gray-500 transition-colors duration-300 hover:text-gray-500 dark:hover:text-gray-300" aria-label="Reddit"> Privacy </a>

              <a href="#" class="mx-2 text-sm text-gray-500 transition-colors duration-300 hover:text-gray-500 dark:hover:text-gray-300" aria-label="Reddit"> Cookies </a>
          </div>
      </div>
  </div>
</footer>
  </body>
</html>
<script>
  document.getElementById('csvFile').addEventListener('change', function(e) {
      var fileName = e.target.files[0].name;
      document.getElementById('file-label-text').innerText = fileName;
  });
</script>
<style>

</style>
