{% extends 'base.html' %} {% block content %} {% load static %}
<!---Mobile layout and Wen layout is ready for below section-->
<section class=""> 
  <div class="lg:flex lg:flex-row lg:mx-16 lg:mt-6">
    <div class="lg:py-5  lg:text-left lg:leading-snug lg:flex lg:flex-col lg:justify-center lg:w-1/2">
      <h1 class="hidden lg:block lg:text-[28px] lg:text-slate-500">Welcome</h1>
      <h1 class="text-5xl font-bold text-center mt-16 lg:hidden">Emotion Prediction with EEG Signals</h1>
      <h1 class="hidden lg:block lg:text-[80px] lg:text-left lg:font-extrabold">Emotion Prediction with EEG Signals</h1>
      <p class="hidden lg:block lg:text-[18px] lg:w-auto lg:text-slate-500 lg:mt-4"> Are you curious about how your brain activity correlates with your emotions? Welcome to our innovative platform where we delve into the fascinating world of EEG signals to predict human emotions.</p>
      <img class="mt-4 lg:hidden" src="{% static 'images/hero.jpg' %}"/>
      <p class="font-light text-center my-7 text-[20px] lg:hidden">Upload CSV File for Emotion Prediction</p>
      <p class="hidden lg:block lg:font-light lg:text-left lg:my-7 lg:text-[20px] ">Upload CSV File for Emotion Prediction</p>
      <!-- Here is the Upload Functionality Code.-->
      <form  class="flex flex-col items-center lg:bg-[#f9fafd] lg:w-[80%] lg:h-16 lg:border-[1px] lg:p-2 lg:mt-2 lg:rounded-2xl lg:flex-row lg:items-center lg:justify-between" id="csv-upload" action="/upload" method="post" enctype="multipart/form-data">
        <label for="csvFile" id="file-label" class="flex justify-center items-center w-[80%] h-10 bg-[#F3F1F0] border-[1px] border-black rounded-[0.7rem] cursor-pointer font-bold lg:mr-4 lg:mb-0">
          <span id="file-label-text" class="mr-2 text-[20px] text-black">Choose File</span>
          <input id="csvFile" class="hidden" type="file" name="csvFile" accept=".csv" required />
        </label>
        <button class="flex justify-center items-center w-[80%] h-10 bg-[#F3BA92] border-[1px] border-[#F3BA92] rounded-[0.7rem] cursor-pointer font-bold text-[20px] text-white mt-3 lg:hidden"  type="submit">Submit</button>
        <button class="hidden lg:flex justify-center items-center w-[80%] h-10 bg-[#F3BA92] border-[1px] border-[#F3BA92] rounded-[0.7rem] cursor-pointer font-bold text-[20px] text-white lg:w-[40%] "  type="submit">Submit</button>
      </form>
    </div>
    <img class="hidden mt-4 lg:block lg:object-cover lg:items-center lg:rounded lg:w-1/2 lg:h-[700px]" src="{% static 'images/hero.jpg' %}"/>
  </div>
</section>



      <!--sad women and problem statment section-->
      <section class="lg:hidden">
        <img class="mt-4" src="{% static 'images/sad_women.jpg' %}"/>
        <div>
          <h1 class="text-5xl font-bold text-center mt-16">Problem Statement</h1>
          <p class="font-light text-center my-2 text-[20px]">Identification of wellness factors through Brain Signals using GenAI.</p>
        </div>
        <div>
          <h1 class="text-5xl font-bold text-center mt-7">Description</h1>
          <p class="font-light text-center my-2 text-[20px]">In today’s fast paced lifestyle, stress is major factor to deal with. If corrective measures is not taken in time, it could lead to adverse situation. Brain signals are the origin of thoughts and as data points is appropriate way for analysis.</p>
        </div>  
        </section>


        <!--Web Layout-->
        <section class="hidden lg:flex lg:flex-row">
          <img class="lg:mt-4 lg:block lg:object-fill lg:items-center lg:rounded lg:w-[48%] lg:h-[650px]" src="{% static 'images/sad_women.jpg' %}"/>
          <div class="lg:flex lg:flex-col lg:justify-between">
            <div class="">
              <h1 class="text-5xl font-bold text-left mt-16">Problem Statement</h1>
              <p class="font-light text-left my-2 text-[20px]">Identification of wellness factors through Brain Signals using GenAI.</p>
            </div>
            <div class="lg:flex lg:flex-row p-2"> 
              <div class="mr-2">
                <h1 class="text-5xl font-bold text-center mt-10">Description</h1>
                <p class="font-light text-center my-2 text-[20px]">In today’s fast paced lifestyle, stress is major factor to deal with. If corrective measures is not taken in time, it could lead to adverse situation. Brain signals are the origin of thoughts and as data points is appropriate way for analysis.</p>
              </div> 
              <div class="ml-2">
                <h1 class="text-5xl font-bold text-center mt-10">Proposed Solution</h1>
                <p class="font-light text-center my-2 text-[20px]">Analyse EEG signals with 32 channels on frontal, occipital, temporal lobes. Derive Delta, Theta, Alpha, Beta and Gamma waves out of signals. Correlate the variations of waves generated as per literature available. Identify the mental wellness.
                </p>
              </div>
            </div>
              <div>
                <h1 class="text-5xl font-bold text-left mt-7">Business Value</h1>
                <p class="font-light text-left my-2 text-[20px]">For any organisation where human resources are working. It has potential to deal with all age groups. Its proactive measure to prevent person from adverse situations.</p>
              </div>  
          </div> 
          </section>

        <!--Meet out team section-->
        <section>

        </section>

        <!---proposed solution and business value-->
        <section class="lg:hidden">
            <div>
            <h1 class="text-5xl font-bold text-center mt-16">Proposed Solution</h1>
            <p class="font-light text-center my-2 text-[20px]">Analyse EEG signals with 32 channels on frontal, occipital, temporal lobes. Derive Delta, Theta, Alpha, Beta and Gamma waves out of signals. Correlate the variations of waves generated as per literature available. Identify the mental wellness.
              </p>
          </div>
          <div>
            <h1 class="text-5xl font-bold text-center mt-7">Business Value</h1>
            <p class="font-light text-center my-2 text-[20px]">For any organisation where human resources are working. It has potential to deal with all age groups. Its proactive measure to prevent person from adverse situations.</p>
          </div>  
            <img class="mt-4" src="{% static 'images/women.jpg' %}"/>
          </section>

          <!---Frequently asked questions-->
          <section class="lg:hidden">
            <div class="max-w-screen-xl mx-auto px-5 bg-white min-h-sceen">
              <div class="flex flex-col items-center">
                <h2 class="font-bold text-5xl mt-5 tracking-tight">
                  FAQ
                </h2>
                <p class="text-neutral-500 text-xl mt-3">
                  Frequenty asked questions
                </p>
              </div>
              <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
                <div class="py-3">
                  <details class="group">
                    <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                      <span> What is a SAAS platform?</span>
                      <span class="transition group-open:rotate-180">
                            <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                            </svg>
                          </span>
                    </summary>
                    <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                       SAAS platform is a cloud-based software service that allows users to access
                      and use a variety of tools and functionality.
                    </p>
                  </details>
                </div>
                <div class="py-3">
                  <details class="group">
                    <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                      <span> How does  billing work?</span>
                      <span class="transition group-open:rotate-180">
                            <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                            </svg>
                          </span>
                    </summary>
                    <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                      We offers a variety of billing options, including monthly and annual subscription plans,
                      as well as pay-as-you-go pricing for certain services. Payment is typically made through a credit
                      card or other secure online payment method.
                    </p>
                  </details>
                </div>
                <div class="py-3">
                  <details class="group">
                    <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                      <span> Can I get a refund for my subscription?</span>
                      <span class="transition group-open:rotate-180">
                            <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                            </svg>
                          </span>
                    </summary>
                    <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                      We offers a 30-day money-back guarantee for most of its subscription plans. If you are not
                      satisfied with your subscription within the first 30 days, you can request a full refund. Refunds
                      for subscriptions that have been active for longer than 30 days may be considered on a case-by-case
                      basis.
                    </p>
                  </details>
                </div>
              </div>
            </div>
            
          </section>



          <!---FAQ for Mobile-->
          <section class="hidden lg:flex lg:flex-row ">
            <div class="mx-auto px-5 bg-white w-[50%]">
              <div class="flex flex-col items-center">
                <h2 class="font-bold text-5xl mt-5 tracking-tight">
                  FAQ
                </h2>
                <p class="text-neutral-500 text-xl mt-3">
                  Frequenty asked questions
                </p>
              </div>

              <div class="grid divide-y divide-neutral-200 w-2xl mt-8">
                <div class="py-3">
                  <details class="group">
                    <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                      <span> What is a SAAS platform?</span>
                      <span class="transition group-open:rotate-180">
                            <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                            </svg>
                          </span>
                    </summary>
                    <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                       SAAS platform is a cloud-based software service that allows users to access
                      and use a variety of tools and functionality.
                    </p>
                  </details>
                </div>
                <div class="py-3">
                  <details class="group">
                    <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                      <span> How does  billing work?</span>
                      <span class="transition group-open:rotate-180">
                            <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                            </svg>
                          </span>
                    </summary>
                    <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                      We offers a variety of billing options, including monthly and annual subscription plans,
                      as well as pay-as-you-go pricing for certain services. Payment is typically made through a credit
                      card or other secure online payment method.
                    </p>
                  </details>
                </div>
                <div class="py-3">
                  <details class="group">
                    <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                      <span> Can I get a refund for my subscription?</span>
                      <span class="transition group-open:rotate-180">
                            <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
                            </svg>
                          </span>
                    </summary>
                    <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                      We offers a 30-day money-back guarantee for most of its subscription plans. If you are not
                      satisfied with your subscription within the first 30 days, you can request a full refund. Refunds
                      for subscriptions that have been active for longer than 30 days may be considered on a case-by-case
                      basis.
                    </p>
                  </details>
                </div>
              </div>
            </div>
            <div>
              <img class=" h-[500px]" src="{% static 'images/women.jpg' %}"/>
            </div>
          </section>
{% endblock content %}